src/main/resources/weather.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="https://www.infinnity.ru/springsoap/gen"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://www.infinnity.ru/springsoap/gen"
                  targetNamespace="https://www.infinnity.ru/springsoap/gen">
    <wsdl:types>
        <xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
                   targetNamespace="https://www.infinnity.ru/springsoap/gen">
            <xs:element name="getWeatherRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="name" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:element name="getWeatherResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="weather" type="tns:weather"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

            <xs:complexType name="weather">
                <xs:sequence>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="temperature" type="xs:double"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getWeatherResponse">
        <wsdl:part element="tns:getWeatherResponse" name="getWeatherResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getWeatherRequest">
        <wsdl:part element="tns:getWeatherRequest" name="getWeatherRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="WeatherPort">
        <wsdl:operation name="getWeather">
            <wsdl:input message="tns:getWeatherRequest" name="getWeatherRequest">
            </wsdl:input>
            <wsdl:output message="tns:getWeatherResponse" name="getWeatherResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WeatherPortSoap11" type="tns:WeatherPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getWeather">
            <soap:operation soapAction=""/>
            <wsdl:input name="getWeatherRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getWeatherResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WeatherPortSoap11">
        <wsdl:port binding="tns:WeatherPortSoap11" name="WeatherPortSoap11">
            <soap:address location="http://localhost:8080/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
